<html>
      <head>
            <title>Flask app</title>
            
            <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
      </head>
   <body>
         <div style="text-align: center; margin-top:190px;">
         <img src="{{url_for('static', filename='image/verou3.png')}}"  />
        </div>
        <div   class="container col-md-6 col-sm-12 col-xs-12 col-md-offset-3">
            
           <div  class="row"  align="center">
            <div>
          <form action="/envoi" method="POST">
         <div class="form-group" >
           <p style="text-align: center;font-size:50px ">Saisissez votre code secret pour terminer l'opération</p>
         </div>
         <div class="form-group" style="background-color:white;"> 
          <input readonly id="input" name="password"  style="border:none;text-align:center;background-color:white;height:100px;color:back;font-size:50px;"  type="password" />
          
         </div>
          
          <div class="form-group" style="background-color:white;">
            <button type="button" onclick="PressButton(this)" style=" border-radius: 50px 0px 0px 0px;margin-top:2px;width:30%;height:140px;background-color:darkslategrey;color:white;outline:none;" class="btn-lg"><span style="font-weight: bold; font-size: 50px;">1</span></button>
            <button type="button" onclick="PressButton(this)" style="margin-top:2px;width:30%;height:140px;background-color:darkslategrey;color:white;outline:none;" class="btn-lg"><span style="font-weight: bold; font-size: 50px;">2</span></button>
            <button type="button" onclick="PressButton(this)" style=" border-radius: 0px 50px 0px 0px;margin-top:2px;width:30%;height:140px;background-color:darkslategrey;color:white;outline:none;" class="btn-lg"><span style="font-weight: bold; font-size: 50px;">3</span></button>
          </div>
          <div class="form-group" style="background-color:white;"> 
            <button type="button"  onclick="PressButton(this)" style="margin-top:2px;width:30%;height:140px;background-color:darkslategrey;color:white;outline:none;" class="btn-lg"><span style="font-weight: bold; font-size: 50px;">4</span></button>
            <button type="button" onclick="PressButton(this)"  style="margin-top:2px;width:30%;height:140px;background-color:darkslategrey;color:white;outline:none;" class="btn-lg"><span style="font-weight: bold; font-size: 50px;">5</span></button>
            <button type="button"  onclick="PressButton(this)" style="margin-top:2px;width:30%;height:140px;background-color:darkslategrey;color:white;outline:none;" class="btn-lg"><span style="font-weight: bold; font-size: 50px;">6</span></button>
         </div>
         <div class="form-group" style="background-color:white;">
            <button type="button" onclick="PressButton(this)"  style="margin-top:2px;width:30%;height:140px;background-color:darkslategrey;color:white;outline:none;" class="btn-lg"><span style="font-weight: bold; font-size: 50px;">7</span></button>
            <button type="button" onclick="PressButton(this)" style="margin-top:2px;width:30%;height:140px;background-color:darkslategrey;color:white;outline:none;" class="btn-lg"><span style="font-weight: bold; font-size: 50px;">8</span></button>
            <button type="button" onclick="PressButton(this)"  style="margin-top:2px;width:30%;height:140px;background-color:darkslategrey;color:white;outline:none;" class="btn-lg"><span style="font-weight: bold; font-size: 50px;">9</span></button>
         </div> 
         <div class="form-group" style="background-color:white;">
           <button type="button"  onclick="clearLast()" style="  border-radius: 0px 0px 0px 50px;margin-top:2px;width:30%;height:140px;background-color:darkslategrey;color:white;outline:none;" class="btn-lg"><span style="font-weight: bold; font-size: 50px;">C</span></button>
            <button type="button" onclick="PressButton(this)"  style="margin-top:2px;width:30%;height:140px;background-color:darkslategrey;color:white;outline:none;" class="btn-lg"><span style="font-weight: bold; font-size: 50px;">0</span></button>
            <button type="button"  onclick="ClearAll()" style=" border-radius: 0px 0px 50px 0px;margin-top:2px;width:30%;height:140px;background-color:darkslategrey;color:white;outline:none;" class="btn-lg"><span style="font-weight: bold; font-size: 50px;">Supp.</span></button>
         </div>
         </div >
         <div class="form-group">

         </div>
        <div class="form-group">
            <input type="submit" value="Valider" style="border-radius: 15px 15px 15px 15px;font-size: 60px; height:100px;background-color: rgb(41, 240, 247); width: 300px; margin-left: 25px" class="row form-control"/>
        </div>
      </form>
   </div>
          </div>
          </div>
          
         
       
   </body> 
   <script type="text/javascript">
   
      function  clearLast()
       {
       var val=$('#input').val();
       var len= val.length;
        var data =val.substring(0,len-1);
        $('#input').val(data);
       }
      $('#BackspaceBtn').on("mousedown",function(){
      clearLast();
          timer = setInterval(function(){
              clearLast();
          },170);
      }).on("mouseup mouseleave",function(){
          clearInterval(timer);
      });
       
      function PressButton(item)
      {
         $("#input").val($("#input").val()+item.textContent);
      }
     
     
      function ClearAll()
      {
       $('#input').val("");
      }
      </script>
</html>
